.courses-filter {
  padding: {
    top: 1em;
    bottom: 1em;
    left: 3em;
    right: 3em;
  };
}

.courses-filter-title {
  text-transform: uppercase;
  color: color(tercero);
  font-size: 0.9em;
}

.courses-filter__menu{
  border-left: 3px solid;
  border-color: color(segundo);
  list-style: none;
  margin: 0;
  &__item{
    padding: {
      left: 1.5em;
      right: 0.5em;
      top: 0.5em;
      bottom: 0.5em;
    };
    font-family: $font-text;
    &:hover{
      background: #EEEEEE;
    }
    &__link{
      color: #444;
      &:hover{
        color: color(negro);
      }
    }
  }
}
