<header>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="example-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar header" id="example-menu">
    <div class="top-bar-left">
      <h1 class="header-logo">Ademmy</h1>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-item">
          <a href="{% url 'home_app:index' %}" class="menu-item__link">Inicio</a>
        </li>
        <li class="menu-item"><a href="#" class="menu-item__link">Enseña</a></li>
        <li class="menu-item"><a href="#" class="menu-item__link">Blog</a></li>
        <li class="menu-item"><a href="{% url 'cursos_app:course-search' 'todos' %}" class="button menu-item__btn">Cursos</a></li>
        <li class="menu-item"><a href="{% url 'users_app:user-login' %}" class="button menu-item__btn__login">Ingresar</a></li>
      </ul>
    </div>
  </div>
</header>
