<div class="main-menu">
  <div id="togle-menu" class="icon-menu">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>
  <div id="nav-menu" class="nav-menu">
    <ul class="menu-main">
      <li class="menu-user">
        <img src="/img/avatar.jpg" alt="" class="menu-user__img">
        <p class="menu-user__name">Juan Perez</p>
      </li>
      <li class="menu-item">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="#" class="menu-item__link">Inicio</a>
      </li>
      <li class="menu-item">
        <i class="fa fa-book" aria-hidden="true"></i>
        <a href="#" class="menu-item__link">Cursos</a>
      </li>
      <li class="menu-item">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <a href="#" class="menu-item__link">Comunidad</a>
      </li>
      <li class="menu-item">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <a href="#" class="menu-item__link">Preguntas</a>
      </li>
      <li class="menu-item">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <a href="#" class="menu-item__link__active">Salir</a>
      </li>
    </ul>
  </div>
  <a href="#" title="salir" class="icon-logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</div>
<div class="space_head">

</div>
