.login-container{
  background-color:rgba(0,0,0,0.15);
  height: 88vh;
  &__form{
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.login-form{
  background: color(blanco);
  border: 2px solid;
  border-color: rgba(0,0,0,0.15);
  width: 100%;
  padding: {
    left: 1em;
    right: 1em;
    top: 4em;
    bottom: 4em;
  };
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title{
    color: color(primero);
    font-family: $font-title;
    font-size: 2.5em;
    font-weight: bold;
  }
  &__registro{
    font-size: 0.8em;
    font-weight: bold;
    color: color(blanco);
    font-family: $font-title;
    margin-top: 1.5em;
    border: solid;
    padding: {
      left: 0.5em;
      right: 0.5em;
      top: 0.1em;
      bottom: 0.1em;
    };
    border-radius: 15px;
    background: color(tercero);
    &:hover{
      color: color(segundo);
      background: color(blanco);
    }
  }
  &__input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__btn{
      background: color(segundo);
      border: none;
      color: color(blanco);
      padding: {
        top: 0.5em;
        bottom: 0.5em;
        left: 1.5em;
        right: 1.5em;
      };
      border-radius: 10px;
      margin-bottom: 0.4em;
      &:hover{
        background: color(primero);
        cursor: pointer;
      }
    }
  }
  &__help{
    font-size: 0.8em;
    color: color(tercero);
  }
}
