.login_title{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.login-subtitle{
  text-align: center;
  color: color(tercero);
}

.login-btn {
  background: color(primero);
  border-radius: 10px;
}
