{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}
  {{object.name}}
{% endblock %}

{% block description %}
  {{object.description}}
{% endblock %}

{% block content %}
  {% include "include/header.html" %}
  <!-- presentacion del curso -->
  <div class="course-presentation">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell small-12 large-8">
          <div class="course-copy">
            <h1 class="course-copy__title">{{object.name}}</h1>
            <p class="course-copy__description">{{object.description_short}}</p>
          </div>
          <div class="course-price">
            <p class="course-price__monto">S/. {{object.price}}</p>
            <p class="course-price__etiqueta">{{object.get_nivel_display}}</p>
          </div>
          <div class="course-btn">
            <a href="{% url 'users_app:redirect' object.pk %}" class="course-btn__link">COMENZAR CURSO</a>
          </div>
        </div>
        <div class="cell small-12 large-4 course-video">
          <iframe width="100%" height="100%" src="{{object.video}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- fin de presentacion del curso -->

  <!-- inicio de temario -->
  <div class="grid-container">
    <h4 class="temas-title">Estos son los temas que aprenderas durante el curso</h4>
    <div class="grid-x grid-margin-x align-center temas">
      {% for t in temas  %}
        <div class="cell small-12 medium-6 large-4">
          <div class="tema-item">
            <p class="tema-item__name">{{t.name}}</p>
            <p class="tema-item__min">{{t.minutes}} min</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- fin de temario -->

  <!-- sobre el curso -->
  <div class="grid-container">
    <div class="grid-x grid-margin-x course-info">
      <div class="cell small-12 large-6">
        <div class="curse-recomendation">
          <h4 class="curse-recomendation__title">Recomendaciones antes de llevar el curso</h4>
          <p class="curse-recomendation__text">{{object.recomendation}}</p>
        </div>
      </div>
      <div class="cell small-12 large-6">
        <div class="course-teacher">
          <h4 class="course-teacher__title">Acerca del Docente</h4>
          <div class="course-teacher__info">
            <img src="{{object.teacher.user.avatar}}" class="course-teacher__info__img">
            <p class="course-teacher__info__text">{{object.teacher.about}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  fin sobre le curso -->

  <!--  inicio about -->
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell small-12 course-about">
        <p class="course-about__title">¿Por que llevar el curso?</p>
        <p class="course-about__text">{{object.resume|safe}}</p>
      </div>
    </div>
  </div>
  <!--  fin about -->
{% endblock %}
