{% extends "topicos/base_topicos.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}
  Ademmy cursos online
{% endblock %}

{% block description %}
  {{user.first_name}} - {{user.last_name}}
{% endblock %}

{% block content %}
  {% include "include/menu.html" %}
  <div class="grid-x clase-head">
    <h1 class="clase-head__title">{{curso.name}} : {{object.name}}</h1>
  </div>
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12 large-8 clase-video">
        <iframe class="clase-video__frame"src="{{object.url_video}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="cell small-12 large-4 large-cell-block-y clase-list">
        <p class="clase-list__title">Videos del curso</p>
        <ul class="clase-list__guia">
          {% for t in temas %}
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="{% url 'topicos_app:topicos-clase_view' t.pk curso.pk %}" class="clase-list__guia__item__name">{{t.name}}</a>
            </li>
          {% empty %}
            <p>Este curso aun no tiene clases</p>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="callout clase-description">
      <h4 class="clase-description__title">¿De que hablamos en esta clase?</h4>
      <p class="clase-description__content">{{object.description}}</p>
    </div>
  </div>
{% endblock %}
