<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cursos de ingenieria online</title>
  <link type="text/css" rel="stylesheet" href="css/materialize.css" />
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="icono.ico">

  </head>
  <body>
<div class="navbar ">
    <nav class="white">
        <div class="container">
       <div class="nav-wrapper">
         
         <a href="index.html" class="brand-logo blue-text"> <img class="logo"  alt="" width="190px" height="auto"    src="ademmy.png">  </a>
          
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           
           
         </ul>
       </div> 
        </div>
     </nav>
   </div>
 <!--   Una imagen grande  -->
<div class="row center">
      <div class="col s12 l12 "> 
       <h5>Como crear tu startup con Steve Blank UniMOOC</h5>
             </div>
        
    </div>
        
     <div class="row grey darken-4">

      <div class="col s12 l3 grey">
          
             <div class="collection">
         <a href="cursos.html" class="collection-item active">Cómo crear una Startup</a>
        <a href="cursos2.html" class="collection-item">Lo que sabemos ahora</a>
        <a href="cursos3.html" class="collection-item">Historia de la empresa</a>
        <a href="cursos4.html" class="collection-item">Estrategia</a>
      </div>    
            
          
        <!-- Grey navigation panel -->
      </div>

      <div class="col s12 l8">
        <!-- Teal page content  -->
            
              <div class="video-container"> 
              
        <iframe width="854" height="480" src="https://www.youtube.com/embed/jqDpnkO1OSs?list=PLGZOQ6tn24N8allfkurb5HlP0s6MCzxrY" frameborder="0" allowfullscreen></iframe>
        
      </div>
            
      </div>

  
    

      <!--   Algo para un blog  -->          

 

      
          
        
         

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
<script>
         $(document).ready(function(){
        
    });
        
      
      </script>    


  </body>



</html>
