{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}
  Cursos de Ingenieria
{% endblock %}

{% block description %}
  Encuentra los mejores cursos de ingenieria en el peru
{% endblock %}

{% block content %}
  {% include "include/header.html" %}
  <!-- Inicio de banner  -->
  <div class="banner">
    <div class="orbit banner-container" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <div class="orbit-wrapper">
        <ul class="orbit-container">
          <li class="is-active orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image banner-img" src="{% static 'img/1.jpg' %}" alt="Estudia los mejores cursos de ingeniería en la comodidad de tu hogar.">
            </figure>
          </li>
        </ul>
      </div>
    </div>
    <div class="banner__copy">
      <h1 class="banner__copy__title">Sigue creciendo, a tu ritmo.</h1>
      <p class="banner__copy__text">Estudia los mejores cursos de ingeniería en la comodidad de tu hogar.</p>
      <a href="{% url 'cursos_app:course-search' 'todos' %}" class="banner__copy__btn">Ver Cursos</a>
    </div>
  </div>
  <!--  fin de banner -->

  <!--  curso mas populares  -->
  <div class="grid-container">
    <h4 class="course-card__title">Cursos más populares</h4>
    <div class="grid-x grid-margin-x">
      {% for c in cursos  %}
        <div class="cell small-12 medium-6 large-3 course-card">
          <img src="{{c.image.url}}" alt="" class="course-card__img">
          <div class="course-card__etiqueta">
            {% if c.nivel == '0' %}
              <p class="course-card__etiqueta__nivel basico">Basico</p>
            {% elif c.nivel == '1' %}
              <p class="course-card__etiqueta__nivel inter">Intermedio</p>
            {% else %}
              <p class="course-card__etiqueta__nivel avanzado">Avanzado</p>
            {% endif %}

            <p class="course-card__etiqueta__teacher teacher">{{c.teacher.first_name}} {{c.teacher.last_name}}</p>
          </div>
          <div class="course-card__name">
            <a href="{% url 'cursos_app:course-detail' c.category.slug c.slug %}" class="course-card__name__title">{{c.name}}</a>
            <p class="course-card__name__description">{{c.description_short |safe|truncatechars_html:80}}</p>
          </div>
          <div class="course-card__footer">
            <p class="course-card__footer__price">S/ {{c.price}}</p>
            <a href="{% url 'cursos_app:course-search' c.category.slug %}" class="course-card__footer__etiqueta">{{c.category.name_short}}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!--  fin curso mas populares  -->

  <!-- boton mas cursos -->
  <div class="grid-x align-center">
    <div class="cell small-12 medium-2 more-courses">
      <a href="{% url 'cursos_app:course-search' 'todos' %}" class="more-courses__text">Ver más cursos</a>
      <a href="{% url 'cursos_app:course-search' 'todos' %}" class="icon-more-courses"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
  <!-- fin de mas cursos-->

  <!-- bloque beneficios -->
  <div class="grid-container">
    <div class="grid-x grid-margin-x aling-center benefit">
      <div class="cell small-12 medium-6 benefit-item">
        <div class="benefit-item__title">
          <p class="benefit-item__title__icon"><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i></p>
          <p class="benefit-item__title__text">Cursos en Ingenieria</p>
        </div>
        <div class="benefit-item__content">
          <p>Con nosotros podrás estudiar los cursos que cualquier buen  profesional
            necesita para seguir creciendo.</p>
        </div>
      </div>
      <div class="cell small-12 medium-6 benefit-item">
        <div class="benefit-item__title">
          <p class="benefit-item__title__icon"><i class="fa fa-laptop fa-2x" aria-hidden="true"></i></p>
          <p class="benefit-item__title__text">Aprende desde casa</p>
        </div>
        <div class="benefit-item__content">
          <p>Nuestros cursos son prácticos y con una duración adecuada ya que
            en una tarde aprenderás todo lo que necesitas saber de un tema en especifico.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- fin de bloque beneficios -->

  <!-- bloque enseña en ademmy -->
  <div class="grid-container">
    <div class="grid-x train">
      <div class="cell small-12 medium-6 large-8 train-item">
        <div class="train-item__copy">
          <h1 class="train-item__copy__title">Consigue el trabajo soñado</h1>
          <p class="train-item__copy__content">Conviertete en un intructor de Admmy y enseña almundo tu capaciadad,
          unete a un gran staff de profesionales y tarabaja junto a ellos ense..Conviertete en un intructor de Admmy y enseña almundo tu capaciadad,
          unete a un gran staff de profesionales y tarabaja junto a ellos ense..Conviertete en un intructor de Admmy y enseña almundo tu capaciadad,
          unete a un gran staff de profesionales y tarabaja junto a ellos ense..</p>
        </div>
        <div class="train-item__btn">
          <a href="{% url 'home_app:home-nuevo_postulante' %}" class="train-item__btn__principal">COMIENZA AHORA</a>
          <a href="#" class="train-item__btn__secundario">QUIERO SABER MAS</a>
        </div>
      </div>
      <div class="cell small-12 medium-6 large-4 train-item">
        <h4 class="teacher-staff-title">Nuestros Profesores:</h4>
        <div class="grid-x teacher-staff">
          <div class="cell small-6 teacher-staff__item">
            <img src="{% static 'img/avatar.jpg' %}" alt="" class="teacher-staff__item__img">
            <p class="teacher-staff__item__name">Cristhian Santa Cruz.</p>
          </div>
          <div class="cell small-6 teacher-staff__item">
            <img src="{% static 'img/4.jpg' %}" alt="" class="teacher-staff__item__img">
            <p class="teacher-staff__item__name">Cristhian Santa Cruz.</p>
          </div>
          <div class="cell small-6 teacher-staff__item">
            <img src="{% static 'img/avatar.jpg' %}" alt="" class="teacher-staff__item__img">
            <p class="teacher-staff__item__name">Cristhian Santa Cruz.</p>
          </div>
          <div class="cell small-6 teacher-staff__item">
            <img src="{% static 'img/4.jpg' %}" alt="" class="teacher-staff__item__img">
            <p class="teacher-staff__item__name">Cristhian Santa Cruz.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin bloque enseña -->

  <div class="grid-x align-center suscription">
    <p class="suscription-title">Suscribirme en Ademmy</p>
    <form class="form-suscription" method="post">
      <input type="text" placeholder="email...">
      <button type="submit" class="button secondary"name="button">Suscribirme</button>
    </form>
  </div>

  <div class="grid-container">
    <div class="grid-x align-center">
      <a href="#">Todo los derechos resevados para Ademmy</a>
    </div>
  </div>
{% endblock %}
