<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Cursos de ingenieria online</title>


<!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
      <link rel="icon" href="icono.ico">
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93370412-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

  <body>
<!--   Barra de navegación  -->

<nav class="white" role="navigation">
    <div class="nav-wrapper container fixed">
      <a id="logo-container" href="index.html" class="brand-logo"> <img src="ademmy.png" alt="" width="190px" height="auto"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="cursos.html" class="blue-text">Cursos</a></li>
          <li><a href="blog.html" class="blue-text">Blog</a></li>
        <li><a href="login.html" class="blue-text">Ingresa</a></li>
        <li><a href="registro.html" class="waves-effect waves-light btn green">Registrate</a>
            </li>

      </ul>

      }
      <ul id="nav-mobile" class="side-nav">
        <li><a href="cursos.html" class="blue-text">Cursos</a></li>
        <li><a href="login.html">Ingresa</a></li>
        <li><a href="registro.html">Registrate</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  



  


 <!--   Una imagen grande  -->


  

 <br>
      


      <!--   Algo para un blog  -->

  <div class="container">
      <div class="row ">
      <div class="col s12 l8">
        <!-- Teal page content  -->
            
              <h3 class="blue-text"> Diseño y Retoque Digital para Alimentos</h3> 
            
      </div>

<!--   Algo para un blog  -->

     

     <div class="col s12 l8">
        <!-- Teal page content  -->
            
              <div class="video-container"> 
              
        <iframe width="854" height="480" src="https://www.youtube.com/embed/jqDpnkO1OSs?list=PLGZOQ6tn24N8allfkurb5HlP0s6MCzxrY" frameborder="0" allowfullscreen></iframe>
        
              </div>

  
      </div>

<!--   Algo para un blog  -->
      <div class="col s12 l4">
        <!-- Teal page content  -->
            
          <p > <strong>Información</strong></p>
          <div class="divider"></div>
          <p class="blue-text"> Nivel: Basico</p>
          <p> Duración : 4.5 horas </p>
          <p> Alumnos inscritos: 12,000</p>
         
          
             <p> <strong>Profesor</strong></p>
          <div class="divider"></div>

          <p> Yan Chota Castillo</p>
          <p> Ingeniero Químico con experincia en plantas de procesos...</p>
            
      </div>
  

  <div class="col s12 l12">
        <!-- Teal page content  -->
           <p class="flow-text">
                 <strong>Sobre la clase</strong>
                 <br><br>
            
  Aprende a componer y retocar una imagen para una marca de alimentos 
            <br>

La industria de alimentos es gigantesca y muchos de nosotros tenemos clientes que requieren material publicitario para revistas, redes sociales, web, entre otros. Es básico saber cómo componer, diseñar y presentar una gráfica para este tipo de producto. 
            <br><br>

He preparado un mini-curso sobre composición y retoque digital para alimentos. Te enseñaré lo básico sobre cómo preparar una gráfica para una marca de alimentos. Estoy seguro que aprenderás lo necesario para aceptar cualquier trabajo de una empresa dedicada a la venta de productos alimenticios. <br>
            <br>

¿QUÉ INCLUYE ESTE CURSO?
            <br>

Este mini-curso lo he estructurado en 4 clases: Conceptualización, Composición, Iluminación y sombras y Colorización. Todas son clases súper prácticas donde te enseñaré las herramientas necesarias para que puedas tener una gráfica similar a las que yo realizo. 
            <br>




              </p>

     </div>
     <div class="col s12 l10">

<h4 class="blue-text"> Temas del curso </h4> 

              <ul class="collection with-header">
        <li class="collection-header"><h4> Balance de energia</h4></li>
        <li class="collection-item "><div> <a href=" blue-text"> Clase 1</a> <a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Clase 2<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Clase 3<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div> Clase 4<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>
 
          
      </div>

<!--   Algo para un blog  -->


      </div>

            <br>
              
            <br>

  </div>

 
            <br>
            <br>

          
         
         


        

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script>

        $(document).ready(function(){
          $('.carousel.carousel-slider').carousel({fullWidth: true});

      $('.slider').slider({
          indicators: false,
          interval: 6000,
          height: 700,
      });

        });
        </script>


  </body>

    <footer class="page-footer #ffffff white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="#424242 grey-text text-darken-3">Acerca de nosotros</h5>
          <FONT SIZE=4>
          <p class="left-align light">Somos unos apasionados ingenieros y desarrolladores, creemos que todo el mundo se merece clases de calidad a precios accesibles, los mejores profesores dictando los cursos que quieres aprender, de una forma amena y sencilla. Escribenos a ademmygo@gmail.com para mayor información</p>
          </FONT>

        </div>
        <div class="col l3 s12">
          <h5 class="#424242 grey-text text-darken-3">Nosotros</h5>
          <ul>
            <li><a class="#424242 grey-text text-darken-3" href="#!">Sobre Ademmy</a></li>
            <li><a class="#424242 grey-text text-darken-3" href="#!">Terminos y condiciones</a></li>
            <li><a class="#424242 grey-text text-darken-3" href="#!">Politicas de privacidad</a></li>
            <li><a class="#424242 grey-text text-darken-3" href="#!">Empresas</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="#424242 grey-text text-darken-3">Categorias</h5>
          <ul>
            <li><a class="#424242 grey-text text-darken-3" href="#!">Procesos</a></li>
            <li><a class="#424242 grey-text text-darken-3" href="#!">Automatización</a></li>
            <li><a class="#424242 grey-text text-darken-3" href="#!">Informatica</a></li>
              <li><a class="#424242 grey-text text-darken-3" href="#!">Mecanica</a></li>

          </ul>
        </div>

      </div>
    </div>

<div class="row center">

      <div class="col l12 s12">
          <a class="#424242 grey-text text-darken-3" href="#!">Copyright © 2017 Ademmy SAC. Todos los derechos reservados.</a>

        </div>

  </footer>


</html>
