<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cursos de ingenieria online</title>
  <link type="text/css" rel="stylesheet" href="css/materialize.css" />
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="twitter:" content="">
 <link rel="icon" href="icono.ico">
  </head>
  <body>
<div class="navbar-fixed ">
    <nav class="white">
        <div class="container">
       <div class="nav-wrapper">
         
         <a href="index.html" class="brand-logo blue-text"> <img class="logo"  alt="" width="190px" height="auto"    src="ademmy.png">  </a>
          
         <ul id="nav-mobile" class="right hide-on-med-and-down">
          
           
         </ul>
       </div> 
        </div>
     </nav>
   </div>
 <!--   Una imagen grande  -->

   
      

      

      <!--   Algo para un blog  -->

     <div class="container">
       
          
         </div>
       
              

<div class="row center">
      <div class="col s12 l12">
       <h4> Crea tu cuenta en usuario</h4>
             </div>
        <div class="col s12 m6 l4 offset-l4">
      <p>  Con tu cuenta podras acceder a todas tus cosas en Ademmy: tus clases, proyectos, forums, recursos, y más! </p>
        
        </div>
    </div>

 <div class="row">
    <form class="col s12 l12 ">
      <div class="row">
        <div class="input-field col s6 l2 offset-l4">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
	</div>

	<div class="input-field col s6 l2">
	<input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>

	
        <div class="input-field col s12 l4 offset-l4">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>

	<div class="input-field col s12 l2 offset-l4">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>

	<div class="input-field col s12 l2">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      	
	<br>
	<div class="row center">
  	<div class="input-field col s12 l4 offset-l4">
          <a class="waves-effect waves-light btn blue" href="cursos.html">Registrate</a>
        </div>
 	</div>


        
        </div>
    </form>
  </div>
          
        
         

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript">
    $(function(){
      $('.parallax').parallax();
    });

    </script>


  </body>



</html>
