<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script type="text/javascript" src="/js/facebook.js"></script>
    <title>Titulo de la pagina</title>
  </head>
  <body>
    <header>
      <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div class="top-bar header" id="example-menu">
        <div class="top-bar-left">
          <h1 class="header-logo">Ademmy</h1>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-item">
              <a href="#" class="menu-item__link">Inicio</a>
            </li>
            <li class="menu-item"><a href="#" class="menu-item__link">Enseña</a></li>
            <li class="menu-item"><a href="#" class="menu-item__link">Blog</a></li>
            <li class="menu-item"><button type="button" class="button menu-item__btn">Cursos</button></li>
            <li class="menu-item"><button type="button" class="button menu-item__btn__login">Ingresar</button></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="grid-container blog-detail">
      <!-- imagen de autor-->
      <div class="blog-detail__user">
        <img src="/img/avatar.jpg" alt="" class="blog-detail__user__img">
        <div class="blog-detail__user__description">
          <p class="blog-detail__user__description__name">Cristhian santa cruz carrion</p>
          <p class="blog-detail__user__description__city">Cusco</p>
          <p class="blog-detail__user__description__date">20 de jun de 2016</p>
        </div>
      </div>
      <!-- fin de imagen de author -->

      <div class="grid-x align-left">
        <h1 class="blog-detail__title">React JS + React Router — redirect after login</h1>
        <!-- inicio banner blog -->
        <div class="blog-detail__banner">
          <p class="blog-detail__banner__resume">
            Today I spent some time figuring out how to redirect a successfully logged on user from the login page to the main application page
          </p>
        </div>
        <!-- fin banner blog -->
        <p class="blog-detail__text">
          Today I spent some time figuring out how to redirect a successfully logged on user from the login page to the main application page. There aren’t too many resources online and many of the existing ones refer to older versions of React Router.
          Eventually I ended up with:
          Standard React/Router setup.
          Using onEnter hook on the route to the main app container called Dashboard (only logged on users can access it)
          Snippet from routes.js — I’ve marked in bold the important bits:
          Today I spent some time figuring out how to redirect a successfully logged on user from the login page to the main application page. There aren’t too many resources online and many of the existing ones refer to older versions of React Router.
          Eventually I ended up with:
          Standard React/Router setup.
          Using onEnter hook on the route to the main app container called Dashboard (only logged on users can access it)
          Snippet from routes.js — I’ve marked in bold the important bits:
          Today I spent some time figuring out how to redirect a successfully logged on user from the login page to the main application page. There aren’t too many resources online and many of the existing ones refer to older versions of React Router.
          Eventually I ended up with:
          Standard React/Router setup.
          Using onEnter hook on the route to the main app container called Dashboard (only logged on users can access it)
          Snippet from routes.js — I’ve marked in bold the important bits:
          Today I spent some time figuring out how to redirect a successfully logged on user from the login page to the main application page. There aren’t too many resources online and many of the existing ones refer to older versions of React Router.
          Eventually I ended up with:
          Standard React/Router setup.
          Using onEnter hook on the route to the main app container called Dashboard (only logged on users can access it)
          Snippet from routes.js — I’ve marked in bold the important bits:
        </p>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="/js/app.js"></script>
</html>
