<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script type="text/javascript" src="/js/scrips.js"></script>
    <title>Titulo de la pagina</title>
  </head>
  <body>
    <div class="main-menu">
      <div id="togle-menu" class="icon-menu">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div id="nav-menu" class="nav-menu">
        <ul class="menu-main">
          <li class="menu-user">
            <img src="/img/avatar.jpg" alt="" class="menu-user__img">
            <p class="menu-user__name">Juan Perez</p>
          </li>
          <li class="menu-item">
            <i class="fa fa-home" aria-hidden="true"></i>
            <a href="#" class="menu-item__link">Inicio</a>
          </li>
          <li class="menu-item">
            <i class="fa fa-book" aria-hidden="true"></i>
            <a href="#" class="menu-item__link">Cursos</a>
          </li>
          <li class="menu-item">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <a href="#" class="menu-item__link">Comunidad</a>
          </li>
          <li class="menu-item">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            <a href="#" class="menu-item__link">Preguntas</a>
          </li>
          <li class="menu-item">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <a href="#" class="menu-item__link__active">Salir</a>
          </li>
        </ul>
      </div>
      <a href="#" title="salir" class="icon-logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
    <div class="space_head">

    </div>

    <div class="grid-x clase-head">
      <h1 class="clase-head__title">Programacion React: 1. Introduccion al curso</h1>
    </div>
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell small-12 large-8 clase-video">
          <iframe class="clase-video__frame"src="https://www.youtube.com/embed/RZNNu2pO49g" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="cell small-12 large-4 large-cell-block-y clase-list">
          <p class="clase-list__title">Videos del curso</p>
          <ul class="clase-list__guia">
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">3 .- conocciendo componentes rect js</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>
            <li class="clase-list__guia__item">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              <a href="#" class="clase-list__guia__item__name">2 .- Sintaxis read</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="callout clase-description">
        <h4 class="clase-description__title">¿De que hablamos en esta clase?</h4>
        <p class="clase-description__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
           voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
           proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </body>
</html>
