<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <title>Titulo de la pagina</title>
  </head>
  <body>
    <header>
      <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div class="top-bar header" id="example-menu">
        <div class="top-bar-left">
          <h1 class="header-logo">Ademmy</h1>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-item">
              <a href="/templates/home.html" class="menu-item__link">Inicio</a>
            </li>
            <li class="menu-item"><a href="#" class="menu-item__link">Enseña</a></li>
            <li class="menu-item"><a href="#" class="menu-item__link">Blog</a></li>
            <li class="menu-item"><button href="/templates/cursos.html" type="button" class="button menu-item__btn">Cursos</button></li>
            <li class="menu-item"><button href="#" type="button" class="button menu-item__btn__login">Ingresar</button></li>
          </ul>
        </div>
      </div>
    </header>

    <!-- Inicio de banner  -->
    <div class="banner">
      <div class="orbit banner-container" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <div class="orbit-wrapper">
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
              <figure class="orbit-figure">
                <img class="orbit-image banner-img" src="/img/1.jpg" alt="Space">
              </figure>
            </li>
          </ul>
        </div>
      </div>
      <div class="banner__copy">
        <h1 class="banner__copy__title">Sigue creciendo, a tu ritmo.</h1>
        <p class="banner__copy__text">Estudia los mejores cursos de ingeniería en la comodidad de tu hogar.</p>
        <a href="/templates/courses.html" class="banner__copy__btn">Ver Cursos</a>
      </div>
    </div>
    <!--  fin de banner -->

    <!--  curso mas populares  -->
    <div class="grid-container">
      <h4 class="course-card__title">Cursos más populares</h4>
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-6 large-3 course-card">
          <img src="/img/3.jpg" alt="" class="course-card__img">
          <div class="course-card__etiqueta">
            <p class="course-card__etiqueta__nivel inter">Intermedio</p>
            <p class="course-card__etiqueta__teacher teacher">Cristhian Santa Cruz Carrion</p>
          </div>
          <div class="course-card__name">
            <a href="#" class="course-card__name__title">Codigo de calidad refactoring</a>
            <p class="course-card__name__description">Logra una pureza del lenguaje unica escalable</p>
          </div>
          <div class="course-card__footer">
            <p class="course-card__footer__price">S/ 100.50</p>
            <a class="course-card__foote__etiqueta">Etiqueta</a>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-3 course-card">
          <img src="/img/3.jpg" alt="" class="course-card__img">
          <div class="course-card__etiqueta">
            <p class="course-card__etiqueta__nivel inter">Intermedio</p>
            <p class="course-card__etiqueta__teacher teacher">Cristhian Santa Cruz Carrion</p>
          </div>
          <div class="course-card__name">
            <a href="#" class="course-card__name__title">Codigo de calidad refactoring</a>
            <p class="course-card__name__description">Logra una pureza del lenguaje unica escalable</p>
          </div>
          <div class="course-card__footer">
            <p class="course-card__footer__price">S/ 100.50</p>
            <p class="course-card__foote__etiqueta">Etiqueta</p>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-3 course-card">
          <img src="/img/3.jpg" alt="" class="course-card__img">
          <div class="course-card__etiqueta">
            <p class="course-card__etiqueta__nivel inter">Intermedio</p>
            <p class="course-card__etiqueta__teacher teacher">Cristhian Santa Cruz Carrion</p>
          </div>
          <div class="course-card__name">
            <a href="#" class="course-card__name__title">Codigo de calidad refactoring</a>
            <p class="course-card__name__description">Logra una pureza del lenguaje unica escalable</p>
          </div>
          <div class="course-card__footer">
            <p class="course-card__footer__price">S/ 100.50</p>
            <p class="course-card__foote__etiqueta">Etiqueta</p>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-3 course-card">
          <img src="/img/3.jpg" alt="" class="course-card__img">
          <div class="course-card__etiqueta">
            <p class="course-card__etiqueta__nivel inter">Intermedio</p>
            <p class="course-card__etiqueta__teacher teacher">Cristhian Santa Cruz Carrion</p>
          </div>
          <div class="course-card__name">
            <a href="#" class="course-card__name__title">Codigo de calidad refactoring</a>
            <p class="course-card__name__description">Logra una pureza del lenguaje unica escalable</p>
          </div>
          <div class="course-card__footer">
            <p class="course-card__footer__price">S/ 100.50</p>
            <p class="course-card__foote__etiqueta">Etiqueta</p>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-3 course-card">
          <img src="/img/3.jpg" alt="" class="course-card__img">
          <div class="course-card__etiqueta">
            <p class="course-card__etiqueta__nivel inter">Intermedio</p>
            <p class="course-card__etiqueta__teacher teacher">Cristhian Santa Cruz Carrion</p>
          </div>
          <div class="course-card__name">
            <a href="#" class="course-card__name__title">Codigo de calidad refactoring</a>
            <p class="course-card__name__description">Logra una pureza del lenguaje unica escalable</p>
          </div>
          <div class="course-card__footer">
            <p class="course-card__footer__price">S/ 100.50</p>
            <p class="course-card__foote__etiqueta">Etiqueta</p>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-3 course-card">
          <img src="/img/3.jpg" alt="" class="course-card__img">
          <div class="course-card__etiqueta">
            <p class="course-card__etiqueta__nivel inter">Intermedio</p>
            <p class="course-card__etiqueta__teacher teacher">Cristhian Santa Cruz Carrion</p>
          </div>
          <div class="course-card__name">
            <a href="#" class="course-card__name__title">Codigo de calidad refactoring</a>
            <p class="course-card__name__description">Logra una pureza del lenguaje unica escalable</p>
          </div>
          <div class="course-card__footer">
            <p class="course-card__footer__price">S/ 100.50</p>
            <p class="course-card__foote__etiqueta">Etiqueta</p>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-3 course-card">
          <img src="/img/3.jpg" alt="" class="course-card__img">
          <div class="course-card__etiqueta">
            <p class="course-card__etiqueta__nivel inter">Intermedio</p>
            <p class="course-card__etiqueta__teacher teacher">Cristhian Santa Cruz Carrion</p>
          </div>
          <div class="course-card__name">
            <a href="#" class="course-card__name__title">Codigo de calidad refactoring</a>
            <p class="course-card__name__description">Logra una pureza del lenguaje unica escalable</p>
          </div>
          <div class="course-card__footer">
            <p class="course-card__footer__price">S/ 100.50</p>
            <p class="course-card__foote__etiqueta">Etiqueta</p>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-3 course-card">
          <img src="/img/3.jpg" alt="" class="course-card__img">
          <div class="course-card__etiqueta">
            <p class="course-card__etiqueta__nivel inter">Intermedio</p>
            <p class="course-card__etiqueta__teacher teacher">Cristhian Santa Cruz Carrion</p>
          </div>
          <div class="course-card__name">
            <a href="#" class="course-card__name__title">Codigo de calidad refactoring</a>
            <p class="course-card__name__description">Logra una pureza del lenguaje unica escalable</p>
          </div>
          <div class="course-card__footer">
            <p class="course-card__footer__price">S/ 100.50</p>
            <p class="course-card__foote__etiqueta">Etiqueta</p>
          </div>
        </div>
      </div>
    </div>
    <!--  fin curso mas populares  -->

    <!-- boton mas cursos -->
    <div class="grid-x align-center">
      <div class="cell small-12 medium-2 more-courses">
        <a href="#" class="more-courses__text">Ver más cursos</a>
        <a href="#" class="icon-more-courses"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
    <!-- fin de mas cursos-->

    <!-- bloque beneficios -->
    <div class="grid-container">
      <div class="grid-x grid-margin-x aling-center benefit">
        <div class="cell small-12 medium-6 benefit-item">
          <div class="benefit-item__title">
            <p class="benefit-item__title__icon"><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i></p>
            <p class="benefit-item__title__text">Cursos en Ingenieria</p>
          </div>
          <div class="benefit-item__content">
            <p>Con nosotros podrás estudiar los cursos que cualquier buen  profesional
              necesita para seguir creciendo.</p>
          </div>
        </div>
        <div class="cell small-12 medium-6 benefit-item">
          <div class="benefit-item__title">
            <p class="benefit-item__title__icon"><i class="fa fa-laptop fa-2x" aria-hidden="true"></i></p>
            <p class="benefit-item__title__text">Aprende desde casa</p>
          </div>
          <div class="benefit-item__content">
            <p>Nuestros cursos son prácticos y con una duración adecuada ya que
              en una tarde aprenderás todo lo que necesitas saber de un tema en especifico.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- fin de bloque beneficios -->

    <!-- bloque enseña en ademmy -->
    <div class="grid-container">
      <div class="grid-x train">
        <div class="cell small-12 medium-6 large-8 train-item">
          <div class="train-item__copy">
            <h1 class="train-item__copy__title">Consigue el trabajo soñado</h1>
            <p class="train-item__copy__content">Conviertete en un intructor de Admmy y enseña almundo tu capaciadad,
            unete a un gran staff de profesionales y tarabaja junto a ellos ense..Conviertete en un intructor de Admmy y enseña almundo tu capaciadad,
            unete a un gran staff de profesionales y tarabaja junto a ellos ense..Conviertete en un intructor de Admmy y enseña almundo tu capaciadad,
            unete a un gran staff de profesionales y tarabaja junto a ellos ense..</p>
          </div>
          <div class="train-item__btn">
            <a href="#" class="train-item__btn__principal">COMIENZA AHORA</a>
            <a href="#" class="train-item__btn__secundario">QUIERO SABER MAS</a>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-4 train-item">
          <h4 class="teacher-staff-title">Nuestros Profesores:</h4>
          <div class="grid-x teacher-staff">
            <div class="cell small-6 teacher-staff__item">
              <img src="/img/avatar.jpg" alt="" class="teacher-staff__item__img">
              <p class="teacher-staff__item__name">Cristhian Santa Cruz.</p>
            </div>
            <div class="cell small-6 teacher-staff__item">
              <img src="/img/4.jpg" alt="" class="teacher-staff__item__img">
              <p class="teacher-staff__item__name">Cristhian Santa Cruz.</p>
            </div>
            <div class="cell small-6 teacher-staff__item">
              <img src="/img/avatar.jpg" alt="" class="teacher-staff__item__img">
              <p class="teacher-staff__item__name">Cristhian Santa Cruz.</p>
            </div>
            <div class="cell small-6 teacher-staff__item">
              <img src="/img/4.jpg" alt="" class="teacher-staff__item__img">
              <p class="teacher-staff__item__name">Cristhian Santa Cruz.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fin bloque enseña -->

    <div class="grid-x align-center suscription">
      <p class="suscription-title">Suscribirme en Ademmy</p>
      <form class="form-suscription" method="post">
        <input type="text" placeholder="email...">
        <button type="submit" class="button secondary"name="button">Suscribirme</button>
      </form>
    </div>

    <div class="grid-container">
      <div class="grid-x align-center">
        <a href="#">Todo los derechos resevados para Ademmy</a>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/app.js"></script>
</html>
