{% extends "users/base_user.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}
  Ademmy cursos online
{% endblock %}

{% block description %}
  Registrate para acceder a cursos de ingenieria
{% endblock %}

{% block content %}
  {% include "include/header.html" %}
  <!--  inicio de formulario de login  -->
  <div class="grid-container login-container">
    <div class="grid-x align-center login-container__form">
      <div class="cell small-12 medium-8 large-4 login-form">
        <p class="login-form__title">Ademmy</p>
        {% if form.errors %}
          <spam class="login-form__error">username o password incorrectos.</spam>
        {% endif %}
        <form class="login-form__input" method="post">{% csrf_token %}
          {{form.email}}
          {{form.password}}
          <input type="submit" class="login-form__input__btn" name="acceder" value="Acceder">
        </form>
        <a href="#" class="login-form__help">Olvide mi contraseña</a>
        <a href="{% url 'users_app:user-add' %}" class="login-form__registro">Registrarme</a>
      </div>
    </div>
  </div>
  <!--  fin de formulario de login  -->
{% endblock %}
