
.benefit-item__title{
  display: flex;
  align-items: center;
  &__icon{
    background: color(segundo);
    color: color(blanco);
    border-radius: 50%;
    padding: {
      left: 0.5em;
      right: 0.5em;
      top: 0.6em;
      bottom: 0.6em;
    };
  }
  &__text{
    margin-left: 1em;
    font-family: $font-text;
    font-weight: bold;
    color: color(negro);
    font-size: $h2-size;
  }
}

.benefit-item__content {
  font-family: $font-text;
  font-weight: lighter;
  color: color(tercero);
}
